@{
    ViewData["Title"] = "Mr. Roboger";
}

<div class="container">
    <header>
        <h3 id="myname"> My name is Mr. Robogers</h3>
    </header>
    <div id="robot">
        <p class="speakrobot"> Want to speak robot?</p>
    </div>
    <form id="formOne">
        <div id="number">
            <label class=text>Enter a number</label>
            <Input type="number" id="translator" placeholder="Enter Here">
            <button class="btn" type="submit">Translate</button>
        </div>
    </form>
    <div id="translation">
        <h4>Translation:</h4><p><span id="results"></span></p>
    </div>
</div>
