@{
    ViewData["Title"] = "Rock Paper Scissors";
}

<div class="container">
  <h1>Rock, Paper, Scissors!</h1>
  <div class="current-turn">It's Player 1's Turn</div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center align-items-center card choice">
          <img src="https://jooinn.com/images/rock-1.jpg" alt="rock" class="rock" />
          <div class="title"><h4>Rock</h4></div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex justify-content-center align-items-center card choice">
          <img src="https://assets.fontsinuse.com/static/use-media-items/5/4725/full-1200x1200/56701a76/00363676-258741.jpeg?resolution=0" alt="paper" class="paper" />
          <div class="title"><h4>Paper</h4></div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex justify-content-center align-items-center card choice">
          <img src="https://www.ldproducts.com/media/catalog/product/1/0/1024171526.jpg" alt="scissors" class="scissors" />
          <div class="title"><h4>Scissors</h4></div>
        </div>
      </div>
    </div>
  </div>
</div>
